To reset your password please enter your email address:

<form method="post" action="/sessions/reset_password">
	Email: <input type="text" name="email" value="<%= params[:email] %>">
	<input type="submit" value="Send reset email">
</form>