<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" >
	<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<head>
		<title>Bookmark Manager</title>
	</head>

<body>

	<%= partial :welcome %>
	<%= partial :flash %>
	<%= yield %>

</body>


</html>